*{ margin: 0; padding: 0; list-style: none;}
h1,h2,h3,h4,h5,ul,li,ol,li,input,img,button{ border: 0; list-style: none; margin: 0; padding: 0;}
html,body{ width: 100%; height: 100%;  position: relative; overflow: hidden;}
body{font-family: "Helvetica Neue","Hiragino Sans GB",Arial,"微软雅黑",sans-serif;}
a{ text-decoration: none;}
.swiper-container{width:100%;height:100%;}
.swiper-slide{display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center; background: #FFF;}
.swiper-wrapper{ width:100%;height:100%;overflow:visible;transition:transform 1s cubic-bezier(0.86,0,0.03,1);-webkit-transition:-webkit-transform 1s cubic-bezier(0.86,0,0.03,1);}
#header{ 
	height: 50px;
	z-index: 100;
	width: 100%;
	background: rgba(0,0,0,.8);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}
#header a{
	display: inline-block;
	font-family: "Helvetica Neue","Hiragino Sans GB",Arial,"微软雅黑",sans-serif;
	text-decoration: none;
}
#header .container .logo{
	height: 50px;
	width:91px;
	vertical-align: middle;
	line-height: 50px;
	float:left;

}
#header .container .icon-logo{
	background: url(../../images/images_/new_logo.PNG) no-repeat;
	vertical-align: middle;
	width: 100px;
	height: 50px;
	display: inline-block;	
	background-size: cover
}
.logo_word{
	color: #FFF; 
	display: inline-block;
	padding-top: 18px;
	height: 50px;
	font-size: 14px; 
	margin-left: 15px;
	font-family: "Arial";
}
.navbar-link,.login{
	float: right;
	margin-bottom: 0;
	padding-left: 0;
}
.navbar-link a{
	color: #FFF;
	padding: 0px 11px;
	margin: 0px 10px;
	position: relative;
	line-height: 63px;
	height: 50px;
	text-align: center;
	display: inline-block;
	font-size: 14px;
}

.navbar-link a:hover{
	border-top: 2px solid #018DCA;
	color: #018DCA;
	line-height: 59px;
}
.navbar-link .current{
	border-top: 2px solid #018DCA;
	color: #018DCA;
	font-weight: 900;
	font-size: 14px;
	line-height: 59px;
}
.navbar-link li,.login li{
	float:left;
}
.login a{
	margin: 8px 10px;
}
#fp-nav{
	width: 70px; 
	position: fixed; 
	right:0.7%; 
	font-size: 12px; 
	color: #fff; 
	line-height: 21px; 
	top: 50%; 
	z-index: 101;
	margin-top: -57px;
}
#fp-nav ul li{
	width: 14px; height: 14px;  margin:6px; border-radius: 50%; border:2px solid #666; cursor: pointer;
}  
#fp-nav ul .current{
	background: #333;
}
.brand-word{
	color: #018DCA; 
	font-style:italic;
	margin: 0 5px;
}
.page5{
	padding-top: 80px;
}
.page1{ position: relative;}
.page1 ul .case1{  background-size: cover; position: relative; width: 50%; height: 100%; background: url(../../images/images_/bg.jpg) no-repeat center center;}
.page1 ul .case2{ background: url(../../images/images_/map4.jpg) no-repeat center center;background-size: cover;}
.page1 ul{ position: absolute; width: 200%;height: 100%; left: 0; top: 0}
.page1 ul li{ float: left; width: 50%; height: 100%}
.page1 h2{ position: absolute; top: 50%; left: 50%; margin-left: -135px; margin-top: -70px;  text-align: center; -webkit-transition: prop time;-ms-transition: prop time;-moz-transition: prop time;
transition: all 1s;-ms-transition: all 1s;-webkit-transition: all 1s; -moz-transition: all 1s;width: 320px; height: 120px; background: url(../../images/images_/font-design.png) no-repeat; background-size: contain;}
.page1 p{ width: 70%; height: 100%; margin: 0 auto; background: url(../../images/images_/index_banner.png) no-repeat center center; background-size: cover; background-size: 50%; transition:all 1s; -webkit-transition: all 1s;-ms-transition: all 1s; -moz-transition: all 1s;}
.page1 h2 span{ display: block; font-size: 20px;}
.page1 i{ position: absolute;  display: block; width:50px; height:50px; background: url(../../images/images_/index_banner_icon1.png) no-repeat; background-size: cover; z-index: 100}
.page1 i:nth-child(1){ left:27%; top:40%; background-image: url(../../images/images_/index_banner_icon1.png); animation: icon1 1s linear alternate; -webkit-animation: icon1 1s linear alternate;}
.page1 i:nth-child(2){ right:26%; top:40%;background-image: url(../../images/images_/index_banner_icon2.png); animation: icon2 1s linear alternate; -webkit-animation: icon2 1s linear alternate; -ms-animation: icon2 1s linear alternate;}
.page1 i:nth-child(3){ left:50%; margin-left: -25px; background-image: url(../../images/images_/index_banner_icon3.png); bottom:50px; animation: icon3 1s linear alternate;-webkit-animation: icon3 1s linear alternate;}
@keyframes icon1{
	from{left:0;}
	to{left:27%;}
}
@keyframes icon2{
	from{right:0;}
	to{right:26%;}
}
@keyframes icon3{
	from{bottom:-60px;}
	to{bottom:50px;}
}
@-ms-keyframes icon1{
	from{left:0;}
	to{left:27%;}
}
@-ms-keyframes icon2{
	from{right:0;}
	to{right:26%;}
}
@-ms-keyframes icon3{
	from{bottom:-60px;}
	to{bottom:50px;}
}
@-webkit-keyframes icon1{
	from{left:0;}
	to{left:27%;}
}
@-webkit-keyframes icon2{
	from{right:0;}
	to{right:26%;}
}
@-webkit-keyframes icon3{
	from{bottom:-60px;}
	to{bottom:50px;}
}
.page1 .h2After{ transform:rotateX(0) rotateY(0) rotateZ(360deg); -ms-transform:rotateX(0) rotateY(0) rotateZ(360deg);-webkit-transform:rotateX(0) rotateY(0) rotateZ(360deg);-moz-transform:rotateX(0) rotateY(0) rotateZ(360deg);-khtml-transform:rotateX(0) rotateY(0) rotateZ(360deg);-o-transform:rotateX(0) rotateY(0) rotateZ(360deg)}
.page1 .pAfter{ transform: scale(1.5) rotateX(0) rotateY(0) rotateZ(360deg); -ms-transform: scale(1.5) rotateX(0) rotateY(0) rotateZ(360deg); -webkit-transform: scale(1.5) rotateX(0) rotateY(0) rotateZ(360deg);-moz-transform:scale(1.5) rotateX(0) rotateY(0) rotateZ(360deg);-khtml-transform:scale(1.5) rotateX(0) rotateY(0) rotateZ(360deg);-o-transform:scale(1.5) rotateX(0) rotateY(0) rotateZ(360deg);}
.down{ width: 62px; height: 27px; background: url(../../images/images_/down.png) no-repeat; position: absolute; bottom: 0; left: 50%; margin-left: -32px; text-align: center; line-height: 40px; cursor: pointer;}
.down:hover{ opacity: 0.5}
.icon-gold,.media-object{
	text-align: center; 
	margin: 0 auto 20px; 
	width: 92px; 
	height: 92px; 
	line-height: 92px; 
	border-radius: 46px; 
	border: 1px solid #CECECE;
}
#s2 .container{
	position: relative !important;
	height: 100%;
}
#s2 .container .main{
	position: absolute !important;
	height: 398px !important;
	top: 50%;
	margin-top: -150px;
	left: 0;
}
#s3{
	background: url(../../images/images_/bg.png) #FFF no-repeat center bottom;
	background-size:contain;
}
.page3 .container{
	position: relative !important;
	height: 100%;
}
.page3 .container .main_page3{
	position: absolute;
	top: 50%;
	margin-top: -131px;
}
.item_1{
	background: url(../../images/images_/page3_icon1.png) no-repeat center center;
}
.item_2{
	background: url(../../images/images_/page3_icon3.png) no-repeat center center;
}
.item_3{
	background: url(../../images/images_/page3_icon2.png) no-repeat center center;
}
.item_1:hover{
	background: url(../../images/images_/page3_hover_icon1.png) #018DCA no-repeat center center;
}
.item_2:hover{
	background: url(../../images/images_/page3_hover_icon3.png) #018DCA no-repeat center center;
}
.item_3:hover{
	background: url(../../images/images_/page3_hover_icon2.png) #018DCA no-repeat center center;
}
.icon_1{
	background: url(../../images/images_/icon1.png) no-repeat center center;
	background-size: 50%;
}
.icon_4{
	background: url(../../images/images_/icon3.png) no-repeat center center;
	background-size: 50%;
}
.icon_4:hover{
	background: url(../../images/images_/hover-icon3.png) #018DCA no-repeat center center;
	background-size: 50%;
}
.icon_2{
	background: url(../../images/images_/icon5.png) no-repeat center center;
	background-size: 50%;
}
.icon_2:hover{
	background: url(../../images/images_/hover-icon5.png) #018DCA no-repeat center center;
	background-size: 50%;
}
.icon_3{
	background: url(../../images/images_/icon2.png) no-repeat center center;
	background-size: 50%;
}
.icon_3:hover{
	background: url(../../images/images_/hover-icon2.png) #018DCA no-repeat center center;
	background-size: 50%;
}
.icon_1:hover{
	background: url(../../images/images_/hover-icon1.png) #018DCA no-repeat center center;
	background-size: 50%;
}
.sub-intro{
	text-align: left;
	padding: 20px 50px 30px;
	color: #666;
	line-height: 30px;
	border-radius: 
}
.page5{
	background: #fff;
	width: 100%;
	height: 100%;
}
.page5 .big{
	background: url(../../images/images_/phone_big.png) no-repeat;
	background-size: contain;
	height: 90%;
	position: absolute;
	z-index:2;
	left: 0;
	width: 67%;
	bottom: 5%;
}
.page5 .small{
	background: url(../../images/images_/phone_small.png) no-repeat;
	height: 75%;
	margin-top:10%;
	background-size: contain;
	position: absolute;
	z-index:1;
	left: 35%;
	width: 55%;
	bottom: 12%;
}
.page5 .container{
	height: 100% !important;
}
.page5 .container .row{
	height: 100% !important;
	position: relative !important;
}
.page5 .container .row .col-md-7{
	height: 100% !important;
	position: relative;
}
.page5 .word{
	line-height: 30px;
}
.page5 .word .logo1,.page5 .word .logo2,.page5 .word .logo3{
	display: inline-block;
	float: left;
	width: 30px;
	height: 30px;
	background-size: cover !important;
	margin-right: 8px;
}
.page5 .word .logo1{
	background: url(../../images/images_/logo1.png) no-repeat;
}
.page5 .word .logo3{
	background: url(../../images/images_/zhishiku32.png) no-repeat;
}
.page5 .word .logo2{
	background: url(../../images/images_/tool.png) no-repeat;
}
.page5 .word h2{
	margin-bottom: 30px;
	float: left;
}
.page5 .wrap{
	position: relative;
	overflow: hidden;
	height: 100%;
}
.page5 .left,.page5 .right{
	width: 41px;
	height: 69px;
	float: left;
	cursor: pointer;
}
.page5 .left{
	background: url(../../images/images_/icon-slides.png) no-repeat -84px 50%;
	margin-right: 30px;
}
.page5 .right{
	background: url(../../images/images_/icon-slides.png) no-repeat -125px 50%;
	margin-left: 28px;
}
.page5 .left:hover,.page5 .right:hover{
	opacity: 0.5;
}
.page5 .dot{
	width: 200px;
	line-height: 70px;
} 
.page5 .dot span{
	width: 18px;
	height: 18px;
	background: #FFF;
	border: 1px solid #F60;
	border-radius: 50%;
	display: block;
	float: left;
	margin-right: 10px;
	margin-top:23px;
	cursor: pointer;
}
.page5 .dot .current{
	background: #F60;
	border: 1px solid #fff;
}
.page5 ul{
	position: absolute;
	left: 0;
	width: 1500px;
	z-index: 99;
	top: 50%;
	margin-top: -173px;
}
.page5 ul li{
	width: 500px;
}
.page5 ul li{
	float: left;
}
.page5 .word .word-content{
	height: 120px;
	font-size: 16px;
	padding: 0 !important;	
}
.page5 .word .ios{
	width: 190px;
	height: 64px;
	background: url(../../images/images_/iphone-btn.png) no-repeat;
	cursor: pointer;
}
.page5 .word .android{
	background: url(../../images/images_/Android-btn.png) no-repeat;
	width: 190px;
	height: 64px;
	cursor: pointer;
}
.page5 .word .pull-left:hover{
	opacity: 0.7;
}       
.page6{
	background: #D2D9DB;
	position: relative;
	padding: 0;
}
.footer{
	width: 100%;
	height: 200px;
	position: absolute;
	left: 0;
	bottom: 0;
	color: #999;
	font-size: 12px;
	background: #2F3239;
}
.footer dl{
	height: 100px;
}
.footerBanner{
	width: 100%;
	height: 90%;
	background: url(../../images/images_/5.jpg) no-repeat center center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0
}
.footer dl dd{
	line-height: 2em
}
.footer .copy{
	border-top:1px solid #666;
	height: 50px;
	line-height: 50px;
}
#s4 .case-content .ih-item{
	top: 0 !important;
}
#focus_1{ display: block;}
.focus{ height:450px; margin:0 auto; position:relative; overflow:hidden; width: 1005px;   }
.focus .hd{ width:100%; height:11px;  position:absolute; z-index:1; bottom:5px; text-align:center;  }
.focus .hd ul{ display:inline-block; height:5px; padding:3px 5px; background-color:rgba(255,255,255,0.7); 
	-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font-size:0; vertical-align:top;
}
.focus .hd ul li{ display:inline-block; width:5px; height:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#8C8C8C; margin:0 5px;  vertical-align:top; overflow:hidden;   }
.focus .hd ul .on{ background:#018DCA;  }

.focus .bd{ position:relative; z-index:0; }
.focus .bd .partner-item{ height: 100px; width: 200px; background-repeat: no-repeat; background-position: center center; float: left; background-size : 70%;}
.focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */  }
#dot2{ position: absolute; bottom: 10%}
/*底部按钮*/
.swiper-button-next {width: 32px; height: 47px; position: fixed; top: 98%; left: 48%; z-index: 500; border: 0; cursor:pointer; }
.next-but-arraw { width: 200px; height:14px; margin: 0 auto; animation: up-fade 1s ease 0s infinite; -moz-animation: up-fade 1s ease 0s infinite; -ms-animation: up-fade 1s ease 0s infinite; -o-animation: up-fade 1s ease 0s infinite; -webkit-animation: up-fade 1s ease 0s infinite;}
@keyframes up-fade {
	0% { opacity: 1 }
	100% { -webkit-transform: translate3d(0px, -6px, 0); opacity: 0.6 }
}
@-ms-keyframes up-fade {
	0% { opacity: 1 }
	100% { -webkit-transform: translate3d(0px, -6px, 0); opacity: 0.6 }
}
@-o-keyframes up-fade {
	0% { opacity: 1 }
	100% { -webkit-transform: translate3d(0px, -6px, 0); opacity: 0.6 }
}
@-moz-keyframes up-fade {
	0% { opacity: 1 }
	100% { -webkit-transform: translate3d(0px, -6px, 0); opacity: 0.6 }
}
@-webkit-keyframes up-fade {
	0% { opacity: 1 }
	100% { -webkit-transform: translate3d(0px, -6px, 0); opacity: 0.6 }
}
.swiper-button-next{ left: 49.25% !important;}
